<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mercadoliebre</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
</head>
<body>
 <header>
    <div class= "header-top-flex">
    <div class=img-top>
        <img src="images/logo-mercado-liebre.svg" alt="Banner">
    </div>
        <div class="input-top">
        <p><input type="search" placeholder="Busca">
        <i class="fas fa-search"></i></p>
    </div>
        <div class="texto-header">
        <p id ="texto"><i class="fas fa-hand-holding-usd"></i>Compra en cuotas y sin tarjeta de credito</p>
    </div>
</div>
    <nav>
    
        <ul>
     <div class="ul-right">
            <li> <a href=""> Ofertas</a></li>
            <li><a href="">Tiendas oficiales</a></li>
            <li><a href="">Vender</a></li>
            <li><a href="">Ayuda</a></li>
    </div>
    <div class="ul-left">
            <li><a href="/registro">Crea tu cuenta</a><i class="far fa-id-card"></i></li>
            <li><a href="/login">Ingresa</a> <i class="fas fa-sign-in-alt"></i></li>
            <li><a href="">Mis compras</a><i class="fas fa-shopping-basket"></i></li>
    </div>
        </ul>

    </nav>
    <div class="burger-menu-cont">
    <div class="burger-menu">
        <i class="fas fa-bars"></i>
        </div>
    </div>
    </header>
    <div class="img-banner">
    <img src="images/img-home-banner.jpg" alt="">
    </div>
    <main>
    <section>
        <article id ="titular"><strong> Basado en tu última visita</strong></article> 
    <br>
        <article class="article-flex">
        <article class="article-padre">
        <img src="images/img-cafetera-moulinex.jpg" alt="cafetera" >
        <article class="article-hijo">
     <div class ="camion">
        <i class="fa fa-truck"></i>
     </div>
     <div class="precio-descuento">
        <p class = "precios">$6.770</p> 
        <p class = "descuentos">40% OFF</p>
    </div>
    <div class = "descripciones">
        <p class = "descripcion"><strong>Cafetera Moulinex</strong></p> 
    </div>
        </article>  
        </article>  
      <article class="article-padre">
       <img src="images/img-macbook-pro-2019.jpg" alt="macbook" >
       <article class="article-hijo">
        <div class ="camion">
            <i class="fa fa-truck"></i>
            </div>
            <div class="precio-descuento">
       <p class = "precios">$230.000</p> 
       <p class = "descuentos">20% OFF</p> 
        </div>
       <div class = "descripciones">
       <p class = "descripcion"><strong>MacBook Pro 2019</strong></p>
    </div> 
    </article>
      </article>  
      <article class="article-padre">
        <img src="images/img-samsung-galaxy-s10.jpg" alt="galaxy" >
        <article class="article-hijo">
            <div class ="camion">
                <i class="fa fa-truck"></i>
                </div>
        <div class="precio-descuento">
        <p class = "precios">$70.500</p> 
       <p class = "descuentos">10% OFF</p> 
        </div>
       <div class = "descripciones">
       <p class = "descripcion"><strong>Samsung Galaxy S10</strong></p> 
    </div>
    </article>
      </article>  
      <article class="article-padre">
        <img src="images/img-tv-samsung-smart.jpg" alt="smartTV" >
            <article class="article-hijo">
                <div class ="camion">
                    <i class="fa fa-truck"></i>
                    </div>
        <div class="precio-descuento">
       <p class = "precios">$23.200</p> 
       <p class = "descuentos">5% OFF</p>
        </div>
       <div class = "descripciones">
       <p class = "descripcion"><strong>SmartTv Samsung 43"</strong></p> 
    </div> 
    </article>
    </article>
      </article>
    </article>  
       </section>
 </main>
 <div class="img-banner-footer">
    <img src="images/img-home-banner.jpg" alt="">
 <footer>
     <div class="footer-flex">
     <div class="footer-div">
        <div class="iconos-footer">
        <i class="fas fa-credit-card"></i>
        </div>
        <p class="descripcion-footer"><strong>Pagá con tarjeta o en efectivo</strong></p>
        <p class="texto">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
        puntos de pago. ¡Y siempre es seguro!</p>
    </div>
    <div class="footer-div">
        <div class="iconos-footer">
        <i class="fas fa-gift"></i>
    </div>
        <p class="descripcion-footer"><strong>Envío gratis desde $ 2.500</strong></p>
        <p class="texto">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
        productos. Es un beneficio de Mercado Puntos.</p>
    </div>
    <div class="footer-div">
        <div class="iconos-footer">
            <i class="fas fa-user-shield"></i>
        </div>
        <p class="descripcion-footer"><strong>Seguridad, de principio a fin</strong></p>
        <p class="texto">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
        porque estás siempre protegid@.</p>
    </div>
    </div>

        <p id="copyright"><strong>Copyright © 1999-2020 MercadoLiebre S.R.L.</strong></p>
 </footer>
</body>
</html>