
ul{
    list-style: none;
    padding:0;
}

body{
    font-family: 'Roboto', sans-serif;
}

header{
    background-color: #EAC926;
}
.img-banner{
    display:none;
    position: relative;
    top:2px;
}
p{
    font-size:12px;
}

#titular{
    font-size:24px;
    padding: 10px;
}

.precios{
    font-size: 18px;
    flex-grow: 30;
}

.descuentos{
    font-size: 16px;
    flex-grow: 70;
    color: green;
}
main section article i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 10px;
    top: -10px;
    }
    

.descripcion{
    font-size: 16px;
}

#texto{
    text-align: center;
    padding: 10px;
}

.burger-menu{
    color:#ebebeb;
    background-color: blue;
    border-radius: 10px;
    height: 30px;
    line-height:30px;
}

.burger-menu-cont{
    width: 45px;
    text-align: center;
    margin:auto;
}

.iconos-footer{
    text-align: center;
    font-size: 2em;
    color:blue;
    margin-bottom: 10px;
    line-height: 10px;

}

footer{
    text-align: center;
}

.texto{
    font-size: 13px;
    padding: inherit;
    
}

.descripcion-footer{
    font-size: 16px;
    height: 5px;
}

#copyright{
    text-align: left;
    height: 5px;
}

.footer-div{
    padding: 30px;
}

main{
    background-color: rgb(207, 202, 202);
    text-align: center;
}

.article-padre{
    margin: 10px;
    background-color: white;
}

.article-hijo{
    border-top: solid 1px #ebebeb;
    padding: 15px;
    text-align: left;
    position: relative;
}

.camion{
    color:green;
}



*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.descripciones{
    display: none;
}

#banner{
    width: 70%;
}

.precio-descuento{
    display: flex;
    justify-content: flex-start;

}

img{
    width: 100%;
}
.header-top-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
header div img{
    flex-grow: 50;
}
header div p{
    flex-grow: 50;
    align-self: flex-end;
}
header nav ul{
    display: none;
}
.img-top{
    max-width: 50%;
}
.input-top{
    align-self: center !important;
}
@media (min-width:480px){

    .img-top{
        max-width: 240px;
    }
    .img-banner{
        display: initial;
    }
    .article-hijo:hover .descripciones{
        display: initial;
    }
    .article-padre{
        max-width: 43%;
    }
    .article-padre:hover{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        transition: box-shadow 1s,;
    }
    main section article i:hover{
        transform: rotate(270deg);
        transition: transform 0.5s;
    }
    .article-flex{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .header-top-flex{
        flex-wrap: nowrap;
        align-items:center;
    }
   
    .input-top{

        padding: 10px;
    }
   
    .burger-menu{
        display: none;
    }
    header nav ul{
        display: flex;
        font-size: 13px;
        justify-content: space-between;
    
    }
    .ul-right{
    display: flex;
    justify-content: space-around;
    width: 260px;
    align-items: center;
    }
    .ul-left{
    display: flex;
    justify-content: space-around;
     width: 260px;
     align-items: center;  
    }

}

@media (min-width:768px){

    .article-hijo:hover .descripciones{
        display: initial;
    }
    .article-padre{
        max-width: 21%;
    }
    .article-padre:hover{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        
    }
    .article-flex{
        display: flex;
        justify-content: space-around;
    
    }
    #texto{
        padding: 33px;
    }

    .footer-flex{
        display: flex;
        margin-top: 30px;
    }
    footer div i:hover{
     color:grey;
     transition: color 2s;   
    }
}